<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>GitHub most stared repos</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container">

	<!-- Buttons -->
	<div class="d-flex justify-content-end py-5">
		<button class="btn btn-primary main-btn mx-2">
			Get Most Starred Repos
		</button>
		<button class="btn btn-success history-btn mx-2">
			Get History
		</button>
	</div>

	<!-- Usage paragraph -->
	<div class="container">
		<h1 class="display-1">Hello!</h1>
		<p>
			This application connects to the GitHub API and gets the most starred repository for these 5 languages:
		</p>
		<ul>
			<li>JavaScript</li>
			<li>Python</li>
			<li>Java</li>
			<li>Ruby</li>
			<li>C</li>
		</ul>
		<p>
			This first feature is triggered by the blue button above. But, that's not all this app does.
		</p>
		<p>
			This app also keeps record of these repos, and you can check the history by clicking on the green button.
		</p>
		<p>
			If you want more details on each repo, just click the blue buttons on the Name of Repo column and you'll get access to a description and also to the repo's URL.
		</p>
		<br>
	</div>

	<!-- Table for displaying repos' information-->
	<table class="invisible table">
		<thead>
			<tr>
				<th>Name of Repo</th>
				<th>Primary Language</th>
				<th>Stars</th>
				<th>Forks</th>
				<th>Date of search</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<!-- Details modal -->
	<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="detailsModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!-- Application's own JS-->
	<script src="../static/js/scripts.js"></script>
</body>

</html>